{% load static %}{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	{% load bootstrap3 %}
	<script src="{% bootstrap_jquery_url %}"></script>
	{% bootstrap_javascript %}
	{% bootstrap_css %}
    <title>
    {% block title %}
    Home
    {% endblock %}
	</title>
</head>
<body>
    <div class="container">
	{% include 'ex/nav.html' %}
        <div class="jumbotron">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>